#main{
  width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

#logo{
  margin-left: 10px;
  margin-right: 50px;
}

#tableTitle{
  text-align-all: center;
}
.navbar{
  color: white;
  background-color: #051b11;
}

.nav-item{
  margin-right: 20px;
}

.nav-item-button{
  margin-left: 10px;
  background-color: #6c757d;
  border: none;
  color: white;
  padding: 4px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.buttonUpdate{
  background-color: #3079f0;
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.buttonDelete{
  margin-left: 5px;
  background-color: red;
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
