<body>

  <header>
    <nav class="navbar navbar-expand ">
      <h1 id="logo">CarsApp</h1>
      <button class="navbar-toggler order-last" type="button" data-toggle="collapse" data-target="#addCarMenu">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="addCarMenu">
        <div class="nav-item">
          <label>id:
            <input [(ngModel)]="car.id" placeholder="id" type="number"/>
          </label>
        </div>

        <div class="nav-item">
          <label>mark:
            <input [(ngModel)]="car.mark" placeholder="mark"/>
          </label>
        </div>

        <div class="nav-item">
          <label>model:
            <input [(ngModel)]="car.model" placeholder="model"/>
          </label>
        </div>

        <div class="nav-item">
          <label>colour:
            <input [(ngModel)]="car.color" placeholder="colour"/>
          </label>
        </div>

        <div class="nav-item">
          <button class="nav-item-button" (click)="saveCar()">Add</button>
        </div>
      </div>

    </nav>

  </header>

  <main id="main">

    <h2 id="tableTitle"> Car List</h2>
    <table class = "table table-striped">
      <thead>
      <tr>
        <th> Id</th>
        <th> Mark</th>
        <th> Model</th>
        <th> Color </th>
        <th id="columnTitleAction"> Action </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor = "let car of cars" >
        <td> {{ car.id}} </td>
        <td> {{ car.model }} </td>
        <td> {{ car.mark }} </td>
        <td> {{ car.color }} </td>
        <td>
          <a routerLink="/details-car/{{car.id}}">
            <button class="buttonUpdate">Update</button>
          </a>
          <button class="buttonDelete"(click)="deleteCar(car.id)"  >Delete</button>
        </td>
        <td>
        </td>
      </tr>
      </tbody>
    </table>

    <div style="clear:both"></div>

  </main>
</body>



